@{
	string FlowID = Request.QueryString["flowid"];
	string StepID = Request.QueryString["stepid"];
	string GroupID = Request.QueryString["groupid"];
	string TaskID = Request.QueryString["taskid"];
	string InstanceID = Request.QueryString["instanceid"];
	string DisplayModel = Request.QueryString["display"] ?? "0";
	string DBConnID = "06075250-30dc-4d32-bf97-e922cb30fac8";
	string DBTable = "OaCustomPlan";
	string DBTablePK = "ID";
	string DBTableTitle = "";
	if(InstanceID.IsNullOrEmpty()){InstanceID = Request.QueryString["instanceid1"];}
	YJ.Platform.Dictionary BDictionary = new YJ.Platform.Dictionary();
	YJ.Platform.WorkFlow BWorkFlow = new YJ.Platform.WorkFlow();
	YJ.Platform.WorkFlowTask BWorkFlowTask = new YJ.Platform.WorkFlowTask();
	string fieldStatus = BWorkFlow.GetFieldStatus(FlowID, StepID);
	LitJson.JsonData initData = BWorkFlow.GetFormData(DBConnID, DBTable, DBTablePK, InstanceID, fieldStatus, "{\"oacustomplan.writedate\":\"yyyy-MM-dd HH:mm \",\"oacustomplan.begindate\":\"yyyy-MM-dd HH:mm\",\"oacustomplan.enddate\":\"yyyy-MM-dd HH:mm\"}");
	string TaskTitle = BWorkFlow.GetFromFieldData(initData, DBTable, DBTableTitle);
}
<link href="~/Scripts/FlowRun/Forms/flowform.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/FlowRun/Forms/common.js" type="text/javascript" ></script>
<input type="hidden" id="Form_ValidateAlertType" name="Form_ValidateAlertType" value="1" />
<input type="hidden" id="OaCustomPlan." name="OaCustomPlan." value="@(TaskTitle.IsNullOrEmpty() ? BWorkFlow.GetAutoTaskTitle(FlowID, StepID, Request.QueryString["groupid"]) : TaskTitle)" />
<input type="hidden" id="Form_TitleField" name="Form_TitleField" value="OaCustomPlan." />
<input type="hidden" id="Form_DBConnID" name="Form_DBConnID" value="06075250-30dc-4d32-bf97-e922cb30fac8" />
<input type="hidden" id="Form_DBTable" name="Form_DBTable" value="OaCustomPlan" />
<input type="hidden" id="Form_DBTablePk" name="Form_DBTablePk" value="ID" />
<input type="hidden" id="Form_DBTableTitle" name="Form_DBTableTitle" value="" />
<input type="hidden" id="Form_AutoSaveData" name="Form_AutoSaveData" value="1" />
<textarea id="Form_DBTableTitleExpression" name="Form_DBTableTitleExpression" style="display:none;width:0;height:0;"></textarea>
<script type="text/javascript">
	var initData = @Html.Raw(BWorkFlow.GetFormDataJsonString(initData));
	var fieldStatus = "1"=="@Request.QueryString["isreadonly"]" ? {} : @Html.Raw(fieldStatus);
	var displayModel = '@DisplayModel';
	$(window).load(function (){
		formrun.initData(initData, "OaCustomPlan", fieldStatus, displayModel);
	});
</script>
<p><br/></p><p><br/></p><link href="~/Content/Theme/tablenew.css" rel="stylesheet"/><p><br/></p><table class="flowformtable tableF table table-bordered" data-sort="sortDisabled" cellspacing="1" cellpadding="0"><tbody><tr class="firstRow"><th class="title" style="word-break: break-all;" colspan="2" valign="middle" align="center">自定义计划录入</th></tr><tr><th class="titleT" colspan="2" valign="middle" align="left"><p class="titleO">基本信息</p></th></tr><tr class="firstRow"><td class="top" style="word-break: break-all;" valign="middle"><p class="txt">提交日期</p><input type="text" type1="flow_datetime" id="OaCustomPlan.writedate" name="OaCustomPlan.writedate" value="@(YJ.Utility.DateTimeNew.ShortDateTime)" format="yyyy-MM-dd HH:mm " defaultvalue="%40(YJ.Utility.DateTimeNew.ShortDateTime)" istime="0" daybefor="0" dayafter="0" currentmonth="0" isflow="1" class="mycalendar" title=""/></td><td class="top" style="word-break: break-all;" valign="middle"><p class="txt">姓名</p><input type="text" type1="flow_org" id="OaCustomPlan.userid" name="OaCustomPlan.userid" value="u_@YJ.Platform.Users.CurrentUserID.ToString()" more="1" isflow="1" class="mymember" title="" dept="0" station="0" user="1" workgroup="0" unit="0" rootid=""/></td></tr><tr><td colspan="1" rowspan="1" style="word-break: break-all;" valign="middle"><p class="txt">计划开始日期</p><input type="text" type1="flow_datetime" id="OaCustomPlan.begindate" name="OaCustomPlan.begindate" value="" format="yyyy-MM-dd HH:mm" defaultvalue="" istime="1" daybefor="0" dayafter="0" currentmonth="0" isflow="1" class="mycalendar" title=""/></td><td colspan="1" rowspan="1" style="word-break: break-all;" valign="middle"><p class="txt">计划结束日期</p><input type="text" type1="flow_datetime" id="OaCustomPlan.enddate" name="OaCustomPlan.enddate" value="" format="yyyy-MM-dd HH:mm" defaultvalue="" istime="1" daybefor="0" dayafter="0" currentmonth="0" isflow="1" class="mycalendar" title=""/></td></tr><tr><td style="word-break: break-all;" colspan="2" valign="middle"><p class="txt">计划内容</p><textarea isflow="1" type1="flow_textarea" id="OaCustomPlan.describe" name="OaCustomPlan.describe" class="mytext" style="height:80px"></textarea></td></tr><tr><td class="bottom" style="word-break: break-all;" colspan="2" valign="top"><span class="txt">说明：此申请表用于录入自定义计划内容。</span></td></tr></tbody></table><p><input type="hidden" id="OaCustomPlan.type" name="OaCustomPlan.type" isflow="1" type1="flow_hidden" value="1"/> </p>