@{
	string FlowID = Request.QueryString["flowid"];
	string StepID = Request.QueryString["stepid"];
	string GroupID = Request.QueryString["groupid"];
	string TaskID = Request.QueryString["taskid"];
	string InstanceID = Request.QueryString["instanceid"];
	string DisplayModel = Request.QueryString["display"] ?? "0";
	string DBConnID = "06075250-30dc-4d32-bf97-e922cb30fac8";
	string DBTable = "OaOffSupBuy";
	string DBTablePK = "";
	string DBTableTitle = "";
	if(InstanceID.IsNullOrEmpty()){InstanceID = Request.QueryString["instanceid1"];}
	YJ.Platform.Dictionary BDictionary = new YJ.Platform.Dictionary();
	YJ.Platform.WorkFlow BWorkFlow = new YJ.Platform.WorkFlow();
	YJ.Platform.WorkFlowTask BWorkFlowTask = new YJ.Platform.WorkFlowTask();
	string fieldStatus = BWorkFlow.GetFieldStatus(FlowID, StepID);
	LitJson.JsonData initData = BWorkFlow.GetFormData(DBConnID, DBTable, DBTablePK, InstanceID, fieldStatus, "{\"oaoffsupbuy.time\":\"yyyy年MM月dd日HH:mm \"}");
	string TaskTitle = BWorkFlow.GetFromFieldData(initData, DBTable, DBTableTitle);
}
<link href="~/Scripts/FlowRun/Forms/flowform.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/FlowRun/Forms/common.js" type="text/javascript" ></script>
<input type="hidden" id="Form_ValidateAlertType" name="Form_ValidateAlertType" value="1" />
<input type="hidden" id="OaOffSupBuy." name="OaOffSupBuy." value="@(TaskTitle.IsNullOrEmpty() ? BWorkFlow.GetAutoTaskTitle(FlowID, StepID, Request.QueryString["groupid"]) : TaskTitle)" />
<input type="hidden" id="Form_TitleField" name="Form_TitleField" value="OaOffSupBuy." />
<input type="hidden" id="Form_DBConnID" name="Form_DBConnID" value="06075250-30dc-4d32-bf97-e922cb30fac8" />
<input type="hidden" id="Form_DBTable" name="Form_DBTable" value="OaOffSupBuy" />
<input type="hidden" id="Form_DBTablePk" name="Form_DBTablePk" value="" />
<input type="hidden" id="Form_DBTableTitle" name="Form_DBTableTitle" value="" />
<input type="hidden" id="Form_AutoSaveData" name="Form_AutoSaveData" value="1" />
<textarea id="Form_DBTableTitleExpression" name="Form_DBTableTitleExpression" style="display:none;width:0;height:0;"></textarea>
<script type="text/javascript">
	var initData = @Html.Raw(BWorkFlow.GetFormDataJsonString(initData));
	var fieldStatus = "1"=="@Request.QueryString["isreadonly"]" ? {} : @Html.Raw(fieldStatus);
	var displayModel = '@DisplayModel';
	$(window).load(function (){
		formrun.initData(initData, "OaOffSupBuy", fieldStatus, displayModel);
	});
</script>
<p> </p><p><br/></p><link href="~/Content/Theme/tablenew.css" rel="stylesheet"/><table width="NaN" align="center" class="flowformtable tableF table table-bordered" cellspacing="0" cellpadding="0" data-sort="sortDisabled"><tbody><tr class="firstRow"><th align="center" valign="middle" rowspan="1" colspan="2">办公用品采购申请</th></tr><tr><th align="center" class="titleT" valign="middle" rowspan="1" colspan="2"><br/></th></tr><tr class="topTr"><td class="top" rowspan="1" colspan="1"><p class="txt">经办人</p><input name="OaOffSupBuy.UserID" title="" class="mymember" id="OaOffSupBuy.UserID" style="width:55%" type="text" value="u_@YJ.Platform.Users.CurrentUserID.ToString()" type1="flow_org" isflow="1" more="0" dept="0" station="0" user="1" workgroup="0" unit="0" rootid="04f12beb-d99d-43df-ac9a-3042957d6bda"/></td><td class="top" rowspan="1" colspan="1"><p class="txt">申报部门</p><input name="OaOffSupBuy.department" title="" class="mymember" id="OaOffSupBuy.department" style="width:55%" type="text" value="@(YJ.Platform.Users.CurrentDeptID)" type1="flow_org" isflow="1" more="0" dept="1" station="0" user="0" workgroup="0" unit="1" rootid="04f12beb-d99d-43df-ac9a-3042957d6bda"/></td></tr><tr><td rowspan="1" colspan="1"><p class="txt">申请时间</p><input name="OaOffSupBuy.Time" title="" class="mycalendar" id="OaOffSupBuy.Time" type="text" value="@(YJ.Utility.DateTimeNew.ShortDateTime)" type1="flow_datetime" isflow="1" defaultvalue="%40(YJ.Utility.DateTimeNew.ShortDateTime)" currentmonth="0" dayafter="1" daybefor="0" istime="1" format="yyyy年MM月dd日HH:mm "/></td><td rowspan="1" colspan="1"><p class="txt">规格型号</p><input name="OaOffSupBuy.specifications" title="" align="0" class="mytext" id="OaOffSupBuy.specifications" type="text" value="" valuetype="0" type1="flow_text" isflow="1"/></td></tr><tr><td class="Tradio" rowspan="1" colspan="1"><p class="txt">用途</p><input name="OaOffSupBuy.Use" id="OaOffSupBuy.Use_0" style="vertical-align:middle;" type="radio" value="1" type1="flow_radio" isflow="1"/><label style="vertical-align:middle;margin-right:3px;" for="OaOffSupBuy.Use_0">省部级</label><input name="OaOffSupBuy.Use" id="OaOffSupBuy.Use_1" style="vertical-align:middle;" type="radio" value="2" type1="flow_radio" isflow="1"/><label style="vertical-align:middle;margin-right:3px;" for="OaOffSupBuy.Use_1">厅局级</label><input name="OaOffSupBuy.Use" id="OaOffSupBuy.Use_2" style="vertical-align:middle;" type="radio" value="3" type1="flow_radio" isflow="1"/><label style="vertical-align:middle;margin-right:3px;" for="OaOffSupBuy.Use_2">其他</label><input name="OaOffSupBuy.Use" id="OaOffSupBuy.Use_3" style="vertical-align:middle;" type="radio" value="4" type1="flow_radio" isflow="1"/><label style="vertical-align:middle;margin-right:3px;" for="OaOffSupBuy.Use_3">工作餐</label></td><td rowspan="1" colspan="1"><p class="txt">数量</p><input name="OaOffSupBuy.number" title="" class="mymember" id="OaOffSupBuy.number" style="width:55%" type="text" value="" type1="flow_org" isflow="1" more="1" dept="0" station="0" user="1" workgroup="0" unit="0" rootid=""/></td></tr><tr><td rowspan="1" colspan="1"><p class="txt">单价</p><input name="OaOffSupBuy.price" title="" align="left" class="mytext" id="OaOffSupBuy.price" type="text" value="" valuetype="0" type1="flow_text" isflow="1"/></td><td rowspan="1" colspan="1"><p class="txt">金额</p><input name="OaOffSupBuy.total" title="" align="left" class="mytext" id="OaOffSupBuy.total" type="text" value="" valuetype="0" type1="flow_text" isflow="1"/></td></tr><tr><td rowspan="1" colspan="2"><p class="txt"><br/></p></td></tr><tr><td rowspan="1" colspan="2"><p class="txt">附件</p></td></tr><tr><td rowspan="1" colspan="2"><p class="txt">备注</p></td></tr><tr class="bottomTr"><td class="bottom" rowspan="1" colspan="2"><br/></td></tr></tbody></table><p><br/></p>