@{
	string FlowID = Request.QueryString["flowid"];
	string StepID = Request.QueryString["stepid"];
	string GroupID = Request.QueryString["groupid"];
	string TaskID = Request.QueryString["taskid"];
	string InstanceID = Request.QueryString["instanceid"];
	string DisplayModel = Request.QueryString["display"] ?? "0";
	string DBConnID = "06075250-30dc-4d32-bf97-e922cb30fac8";
	string DBTable = "OaLeave";
	string DBTablePK = "ID";
	string DBTableTitle = "";
	if(InstanceID.IsNullOrEmpty()){InstanceID = Request.QueryString["instanceid1"];}
	YJ.Platform.Dictionary BDictionary = new YJ.Platform.Dictionary();
	YJ.Platform.WorkFlow BWorkFlow = new YJ.Platform.WorkFlow();
	YJ.Platform.WorkFlowTask BWorkFlowTask = new YJ.Platform.WorkFlowTask();
	string fieldStatus = BWorkFlow.GetFieldStatus(FlowID, StepID);
	LitJson.JsonData initData = BWorkFlow.GetFormData(DBConnID, DBTable, DBTablePK, InstanceID, fieldStatus, "{\"oaleave.leavedate\":\"yyyy年MM月dd日\",\"oaleave.starttime\":\"yyyy-MM-dd\",\"oaleave.starttimehr\":\"HH:mm \",\"oaleave.endtime\":\"yyyy-MM-dd\",\"oaleave.endtimehr\":\"HH:mm \"}");
	string TaskTitle = BWorkFlow.GetFromFieldData(initData, DBTable, DBTableTitle);
}
<link href="~/Scripts/FlowRun/Forms/flowform.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/FlowRun/Forms/common.js" type="text/javascript" ></script>
<input type="hidden" id="Form_ValidateAlertType" name="Form_ValidateAlertType" value="1" />
<input type="hidden" id="OaLeave." name="OaLeave." value="@(TaskTitle.IsNullOrEmpty() ? BWorkFlow.GetAutoTaskTitle(FlowID, StepID, Request.QueryString["groupid"]) : TaskTitle)" />
<input type="hidden" id="Form_TitleField" name="Form_TitleField" value="OaLeave." />
<input type="hidden" id="Form_DBConnID" name="Form_DBConnID" value="06075250-30dc-4d32-bf97-e922cb30fac8" />
<input type="hidden" id="Form_DBTable" name="Form_DBTable" value="OaLeave" />
<input type="hidden" id="Form_DBTablePk" name="Form_DBTablePk" value="ID" />
<input type="hidden" id="Form_DBTableTitle" name="Form_DBTableTitle" value="" />
<input type="hidden" id="Form_AutoSaveData" name="Form_AutoSaveData" value="1" />
<textarea id="Form_DBTableTitleExpression" name="Form_DBTableTitleExpression" style="display:none;width:0;height:0;"></textarea>
<script type="text/javascript">
	var initData = @Html.Raw(BWorkFlow.GetFormDataJsonString(initData));
	var fieldStatus = "1"=="@Request.QueryString["isreadonly"]" ? {} : @Html.Raw(fieldStatus);
	var displayModel = '@DisplayModel';
	$(window).load(function (){
		formrun.initData(initData, "OaLeave", fieldStatus, displayModel);
	});
</script>
<script type="text/javascript">var day=0;
  function checkdate(type)
  {
     try {
    if(type==0){
      var url = "/PlatformApi/OaDailyOffice/GetDay?type=0";
        $.ajax({
            url: url,
            contentType: "application/json",
            type: "GET",
            dataType: "json",
            cache: false,
            async: false,
            success: function(json) {
              if(json.status == 0){
             $("input[type='radio']").removeAttr('checked');
                day=1;
                alert(json.msg);}
              else{
              alert(json.msg);
              }
            },
            error: function(json) {
                  RoadUI.Core.showError(json);
            }
        });
    }
    else{
    var statedate=document.getElementById("OaLeave.StartTime").value;var statedatehr=document.getElementById("OaLeave.StartTimeHr").value;
    var enddate=document.getElementById("OaLeave.EndTime").value;var enddatehr=document.getElementById("OaLeave.EndTimeHr").value;
      var url = "/PlatformApi/OaDailyOffice/GetDay?type=1&statedate="+statedate+"&enddate="+enddate+"&statedatehr="+statedatehr+"&enddatehr="+enddatehr;
        $.ajax({
            url: url,
            contentType: "application/json",
            type: "GET",
            dataType: "json",
            async: false,
            success: function(json) {
                if(json.status==1){
                 document.getElementById("OaLeave.Days").value=json.data;  
                }
                else{  document.getElementById("OaLeave.Days").value=0;alert(json.msg); }
            },
            error: function(json) {
                  RoadUI.Core.showError(json);
            }
        });
                   
      } 

      } catch (e) {
alert(e.message);
    }
  }</script><p><br/></p><p><br/></p><table class="flowformtable tableF table table-bordered" data-sort="sortDisabled" cellspacing="0" cellpadding="0" align="center"><tbody><tr class="firstRow"><th rowspan="1" colspan="2" valign="middle" align="center"><span class="title">请 假 申 请</span></th></tr><tr><th class="titleT" rowspan="1" colspan="2" valign="middle" align="left"><p class="titleO">基本信息</p></th></tr><tr><td class="top" rowspan="1" colspan="1" valign="middle" align="left"><p class="txt">姓名</p><input name="OaLeave.UserID" id="OaLeave.UserID" style="width:55%" type="text" value="u_@YJ.Platform.Users.CurrentUserID.ToString()" more="0" type1="flow_org" isflow="1" class="mymember" title="" dept="0" station="0" user="1" workgroup="0" unit="0" rootid="04f12beb-d99d-43df-ac9a-3042957d6bda"/></td><td class="top Tradio" rowspan="1" colspan="1" valign="middle" align="left"><p class="txt">部门</p><input name="OaLeave.DeptName" id="OaLeave.DeptName" style="width:55%" type="text" value="@(new YJ.Platform.WorkFlowTask().GetFirstSnderDeptID(FlowID.ToGuid(), GroupID.ToGuid()))" more="0" type1="flow_org" isflow="1" class="mymember" title="" dept="1" station="0" user="0" workgroup="0" unit="0" rootid="04f12beb-d99d-43df-ac9a-3042957d6bda"/></td></tr><tr><td class="bottom" rowspan="1" valign="middle" align="left"><p class="txt">申请日期</p><input name="OaLeave.LeaveDate" id="OaLeave.LeaveDate" type="text" value="@(YJ.Utility.DateTimeNew.ShortDate)" type1="flow_datetime" currentmonth="0" dayafter="0" daybefor="0" istime="0" defaultvalue="%40(YJ.Utility.DateTimeNew.ShortDate)" format="yyyy年MM月dd日" isflow="1" class="mycalendar" title=""/></td><td class="bottom" style="word-break: break-all;" rowspan="1" valign="middle" align="left"><p class="txt">申请人单位</p><input name="OaLeave.Unit" id="OaLeave.Unit" style="width:55%" type="text" value="@(YJ.Platform.Users.CurrentUnitID)" more="0" type1="flow_org" isflow="1" class="mymember" title="" dept="1" station="0" user="0" workgroup="0" unit="1" rootid="04f12beb-d99d-43df-ac9a-3042957d6bda"/></td></tr><tr><th class="titleT" rowspan="1" colspan="2" valign="middle" align="left"><p class="titleO">请假信息</p></th></tr><tr><td class="Tradio top" rowspan="1" colspan="2" valign="middle" align="left"><p class="txt">请假类型</p><input type="radio" name="OaLeave.Type" id="OaLeave.Type_0" value="1" style="vertical-align:middle;" isflow="1" type1="flow_radio" onclick="onclick_0b306519094cce7c441984f0d674da1a(this);"/><label for="OaLeave.Type_0" style="vertical-align:middle;margin-right:3px;">事假</label><input type="radio" name="OaLeave.Type" id="OaLeave.Type_1" value="2" style="vertical-align:middle;" isflow="1" type1="flow_radio" onclick="onclick_0b306519094cce7c441984f0d674da1a(this);"/><label for="OaLeave.Type_1" style="vertical-align:middle;margin-right:3px;">病假</label><input type="radio" name="OaLeave.Type" id="OaLeave.Type_2" value="3" style="vertical-align:middle;" isflow="1" type1="flow_radio" onclick="onclick_0b306519094cce7c441984f0d674da1a(this);"/><label for="OaLeave.Type_2" style="vertical-align:middle;margin-right:3px;">丧假</label><input type="radio" name="OaLeave.Type" id="OaLeave.Type_3" value="4" style="vertical-align:middle;" isflow="1" type1="flow_radio" onclick="onclick_0b306519094cce7c441984f0d674da1a(this);"/><label for="OaLeave.Type_3" style="vertical-align:middle;margin-right:3px;">婚假</label><input type="radio" name="OaLeave.Type" id="OaLeave.Type_4" value="5" style="vertical-align:middle;" isflow="1" type1="flow_radio" onclick="onclick_0b306519094cce7c441984f0d674da1a(this);"/><label for="OaLeave.Type_4" style="vertical-align:middle;margin-right:3px;">产假</label><input type="radio" name="OaLeave.Type" id="OaLeave.Type_5" value="6" style="vertical-align:middle;" isflow="1" type1="flow_radio" onclick="onclick_0b306519094cce7c441984f0d674da1a(this);"/><label for="OaLeave.Type_5" style="vertical-align:middle;margin-right:3px;">陪产假</label><input type="radio" name="OaLeave.Type" id="OaLeave.Type_6" value="7" style="vertical-align:middle;" isflow="1" type1="flow_radio" onclick="onclick_0b306519094cce7c441984f0d674da1a(this);"/><label for="OaLeave.Type_6" style="vertical-align:middle;margin-right:3px;">年休假</label><script type="text/javascript">function onclick_0b306519094cce7c441984f0d674da1a(srcObj){
var type=$("input[type='radio']:checked").val();
if(type==6){
checkdate(0);}}</script></td></tr><tr><td rowspan="1" colspan="1" valign="middle" align="left"><p class="txt">起始日期</p><input name="OaLeave.StartTime" id="OaLeave.StartTime" type="text" value="" type1="flow_datetime" currentmonth="0" dayafter="0" daybefor="0" istime="1" defaultvalue="" format="yyyy-MM-dd" isflow="1" class="mycalendar" title=""/></td><td rowspan="1" colspan="1" valign="middle" align="left"><p class="txt">起始时间</p><input name="OaLeave.StartTimeHr" id="OaLeave.StartTimeHr" type="text" value="08:30" type1="flow_datetime" currentmonth="0" dayafter="0" daybefor="0" istime="1" defaultvalue="08%3A30" format="HH:mm " isflow="1" class="mycalendar" title=""/></td></tr><tr><td rowspan="1" colspan="1" valign="middle" align="left"><p class="txt">结束日期</p><input name="OaLeave.EndTime" id="OaLeave.EndTime" type="text" value="" type1="flow_datetime" currentmonth="0" dayafter="0" daybefor="0" istime="1" defaultvalue="" format="yyyy-MM-dd" isflow="1" class="mycalendar" title=""/></td><td rowspan="1" colspan="1" valign="middle" align="left"><p class="txt">结束时间</p><input name="OaLeave.EndTimeHr" id="OaLeave.EndTimeHr" type="text" value="17:00" type1="flow_datetime" currentmonth="0" dayafter="0" daybefor="0" istime="1" defaultvalue="17%3A00" format="HH:mm " isflow="1" class="mycalendar" title=""/></td></tr><tr><td rowspan="1" colspan="2" valign="middle" align="left"><p class="txt">请假天数</p><input name="OaLeave.Days" id="OaLeave.Days" style="width:35%;text-align:left;padding-right:3px;" type="text" placeholder="请假天数" value="" valuetype="4" type1="flow_text" isflow="1" class="mytext" title="" align="left"/>天<input name="OaLeave.Hours" id="OaLeave.Hours" style="width:35%;text-align:left;padding-right:3px;" type="text" placeholder="请假小时数" value="" valuetype="0" type1="flow_text" isflow="1" class="mytext" title="" align="left"/>小时</td></tr><tr><td class="bottom" rowspan="1" colspan="2" valign="middle" align="left"><p class="txt">请假原因</p><textarea isflow="1" type1="flow_textarea" id="OaLeave.Reason" name="OaLeave.Reason" class="mytext" style="width:80%; height:40px;"></textarea></td></tr></tbody></table>